<html>
<head>
    <title>My Movie App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="list-movies-title">
    <h1> Flo's Movies </h1>
</div>
<div>
    <ol class="movie-grid">
        
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BMDAyY2FhYjctNDc5OS00MDNlLThiMGUtY2UxYWVkNGY2ZjljXkEyXkFqcGc@._V1_SX300.jpg" alt="The Shawshank Redemption Poster">
                        <h2>The Shawshank Redemption</h2>
                        <p>1994</p>
                        <p>Rating: 9.3</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BMzQxNzQzOTQwM15BMl5BanBnXkFtZTgwMDQ2NTcwODM@._V1_SX300.jpg" alt="Midsommar Poster">
                        <h2>Midsommar</h2>
                        <p>2019</p>
                        <p>Rating: 7.1</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BMTUxNzc0OTIxMV5BMl5BanBnXkFtZTgwNDI3NzU2NDE@._V1_SX300.jpg" alt="Ex Machina Poster">
                        <h2>Ex Machina</h2>
                        <p>2014</p>
                        <p>Rating: 7.7</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BNTEyZGQwODctYWJjZi00NjFmLTg3YmEtMzlhNjljOGZhMWMyXkEyXkFqcGc@._V1_SX300.jpg" alt="Hereditary Poster">
                        <h2>Hereditary</h2>
                        <p>2018</p>
                        <p>Rating: 7.3</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BNzQxNTIyODAxMV5BMl5BanBnXkFtZTgwNzQyMDA3OTE@._V1_SX300.jpg" alt="Moonlight Poster">
                        <h2>Moonlight</h2>
                        <p>2016</p>
                        <p>Rating: 7.4</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BNDQ1NDE5NzQ1NF5BMl5BanBnXkFtZTgwNzA5OTM2NTE@._V1_SX300.jpg" alt="The Lobster Poster">
                        <h2>The Lobster</h2>
                        <p>2015</p>
                        <p>Rating: 7.1</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BNmM5ZThhY2ItOGRjOS00NzZiLWEwYTItNDgyMjFkOTgxMmRiXkEyXkFqcGc@._V1_SX300.jpg" alt="The Shining Poster">
                        <h2>The Shining</h2>
                        <p>1980</p>
                        <p>Rating: 8.4</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BMzdhODkyYmUtMzE3ZS00YmQxLThlMGItNTQwNGJmYTk3ZjE3XkEyXkFqcGc@._V1_SX300.jpg" alt="No Other Land Poster">
                        <h2>No Other Land</h2>
                        <p>2024</p>
                        <p>Rating: 9.8</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BYmNhOWMyNTYtNTljNC00NTU3LWFiYmQtMDBhOGU5NWFhNGU5XkEyXkFqcGc@._V1_SX300.jpg" alt="The Whale Poster">
                        <h2>The Whale</h2>
                        <p>2022</p>
                        <p>Rating: 7.6</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BMjk0MjMzMTI3NV5BMl5BanBnXkFtZTgwODEyODkxNzE@._V1_SX300.jpg" alt="Krampus Poster">
                        <h2>Krampus</h2>
                        <p>2015</p>
                        <p>Rating: 6.2</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BYzAwMDllN2UtMDk0My00YWEwLWJhNGUtOGEzYzYwNmZjMzE2XkEyXkFqcGc@._V1_SX300.jpg" alt="Bagman Poster">
                        <h2>Bagman</h2>
                        <p>2024</p>
                        <p>Rating: 4.7</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BMTk4NjM0MjI3MV5BMl5BanBnXkFtZTcwNjcxMDYzNg@@._V1_SX300.jpg" alt="Melancholia Poster">
                        <h2>Melancholia</h2>
                        <p>2011</p>
                        <p>Rating: 7.1</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BZmUyYjM1YjUtYTVhZC00YzYwLThiYTMtZjE3ZmZmNzA2NDA4XkEyXkFqcGc@._V1_SX300.jpg" alt="Enter the Void Poster">
                        <h2>Enter the Void</h2>
                        <p>2009</p>
                        <p>Rating: 7.2</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BMTU5OTczMTcxMV5BMl5BanBnXkFtZTcwNDg3MTEzMw@@._V1_SX300.jpg" alt="The Fountain Poster">
                        <h2>The Fountain</h2>
                        <p>2006</p>
                        <p>Rating: 7.2</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BMTMwNjQ0NjMzN15BMl5BanBnXkFtZTcwNjMxMTkyNA@@._V1_SX300.jpg" alt="The Tree of Life Poster">
                        <h2>The Tree of Life</h2>
                        <p>2011</p>
                        <p>Rating: 6.8</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BYzE2M2NiOGQtODU4OC00MDhmLWI2YTUtZThkZmFjMWFlODE2XkEyXkFqcGc@._V1_SX300.jpg" alt="A New World Poster">
                        <h2>A New World</h2>
                        <p>1966</p>
                        <p>Rating: 7.1</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BMDNlYWVhYjctNTIzNi00NGJhLWFmNzYtZTVmOWUxNmYwM2IyXkEyXkFqcGc@._V1_SX300.jpg" alt="Jeanne Dielman, 23, quai du commerce, 1080 Bruxelles Poster">
                        <h2>Jeanne Dielman, 23, quai du commerce, 1080 Bruxelles</h2>
                        <p>1975</p>
                        <p>Rating: 7.5</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BYWY5YzE4YmUtZWFhMS00YjYxLWI5ZGUtNDEyNmMzNDVjMGEwXkEyXkFqcGc@._V1_SX300.jpg" alt="Paris, Texas Poster">
                        <h2>Paris, Texas</h2>
                        <p>1984</p>
                        <p>Rating: 8.1</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BN2U3ZjE1ZjUtYTRkMy00NTJiLTgyNzktMmE1OTUzYmRlOTUzXkEyXkFqcGc@._V1_SX300.jpg" alt="Badlands Poster">
                        <h2>Badlands</h2>
                        <p>1973</p>
                        <p>Rating: 7.7</p>
                    </div>
                    
                    <div class="movie-item">
                        <img src="https://m.media-amazon.com/images/M/MV5BNGYxNzZkYzAtMDExMS00MzE1LTg5ZGItMTgzMzJhZWMyNTBjXkEyXkFqcGc@._V1_SX300.jpg" alt="Eraserhead Poster">
                        <h2>Eraserhead</h2>
                        <p>1977</p>
                        <p>Rating: 7.3</p>
                    </div>
                    
    </ol>
</div>
</body>
</html>